.carousel-inner img{
	width: 1000px;
	height: 500px;
}
/*轮播左右按键背景色无色*/
.left{
	background-color:transparent;
}
.right{
	background-color: transparent;
}
.slide{
	width: 95%;
	margin: 25px;
}
/*不在关注的设置*/
.del{
	color: white;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	left: 170px;
}
.del:hover{
	color: lightgreen;
}
/*滚动条设置*/
.pre-scrollable{
	max-height: 1300px;
	background-color: black;
}
.row{
	margin: 0;
}
.lunbo{
	margin-top: 20px;
}